# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Secrets
.env

# OS
.DS_Store
Thumbs.db

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

# Python
__pycache__/
*.pyc

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

# Python
__pycache__/
*.pyc
